####################################
####################################
# Log file of the backup program
LogFile=/mnt/Backups/.backup.log
#
# Pid File
pidFile=/var/lock/subsys/djbackup.pid
#
#Auto Update 0=Off 1=on
AutoUpdate=0
#
# Directory where the backup is stored
OutDir=/mnt/Backups/
#
# This is the base file name of the backup
# NOTE:  Date and time stamp will automatically be added to the begining of this filename
OutFile=$(whoami)HomeDir.$(hostname)
#
# Directory or Directories to backup.  Each directory should be seperated by a space.
# NOTE:  djbackup's setting directory will automatically be backed up
BkDir="/home/$(whoami)"
####################################
#
####################################
# Encrypt Backup 0 = off 1 = on
# ***Warning turn on encryption will also prevent the log from displaying the files which were backed up
EncryptBackup=0
#
# Passphrase to be used for Encryption
EncryptPassphrase=
####################################
#
####################################
# Enable differential backup
DiffBackup=0
#
# Day of the week for full backup
# Options: Mon, Tue, Wed, Thu, Fri, Sat, Sun
DiffWkDay=Sun
####################################
#
####################################
# Enable Second Copy 0 = off 1 = on
SecondCopy=0
#
# Device Address
SecondDevice=
#
# Number of Second Copies to keep 0 = all
SecondCopies=0
####################################
#
####################################
# Copy Backup to the cloud
# Enable Google Cloud Backup 0 = off 1 = on
# NOTE:  This is kicked off in the background so multiple backups will create multiple uploads.
CloudBK=G
# G = Google Cloud
# NOTE:  This requires the gsutil application from google
#
# Bucket Name
bucket="bucket_name"
# Path in the Bucket
bucketPath="/"
####################################
#
####################################
# Enable Recent backup remote storage through rsync.  0 = off 1 = on
RemoteCopy=0
#
# Remote Username
RemoteUsername=
#
# Remote Server
RemoteServer=
#
# Remote Path on server
RemoteDevice=
####################################
#
####################################
# Automatically clean-up the backup directory. 0 = off 1 = on
Cleanup=1
#
# Keep the five most recent files in the backup directory
RemoveCount=5
####################################
#
####################################
# Do a mysql dump before backup 0 = off 1 = on
MySQLDump=0
#
# Username
MySQLUser=
#
#Password
MySQLPassword=
#
# Location of Dump File
MySQLLocation=/etc/djbackup/db_backup.sql
####################################
#
####################################
# Backup Installed RPM List 0 = off 1 = on
RPMBackup=0
#
# Where to backup cron to
RPMFile=/etc/djbackup/installedRPMs.txt
####################################
#
####################################
# Backup Cron 0 = off 1 = on
CronBackup=0
####################################
#
####################################
# Docker Backup settings
# 
# Backup Docker Service Configurations
DockerSwarm=0
#
# Docker Container Configuration Backup
DockerContainer=0
####################################
#
####################################
# Enable Emailing of Report
EmailReport=0
#
# Email address to email report
EmailTo=
####################################
#
####################################
# Run a command before backup starts
preCom=
#
# Run a command when backup is done
postCom=
####################################
####################################
